.todo-container:not(:first-child) {
    border-top: 1px solid black;
}

.todo-summary-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.todo-data-container {
    display: grid;
    grid-template-columns: min-content max-content max-content;
    align-items: center;
    gap: 1%;
}

.todo-title-container {
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
}

.todo-priority-container {
    width: 2em;
    height: 2em;
    border-radius: 50%;

    display: grid;
    align-items: center;
    justify-content: center;
}

.todo-action-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.todo-action-button {
    height: 30px;
    width: 30px;
    fill: white;
    border: none;
    border-radius: 4px;
}

.todo-done-button {
    background-color: lightgreen;
}

.todo-edit-button {
    background-color: royalblue;
}
