.todo-summary-container {
    display: grid;
    grid-template-columns: min-content max-content max-content;
    align-items: center;
    gap: 1%;
}

.todo-title-container {
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
}

.todo-priority-container {
    width: 2em;
    height: 2em;
    border-radius: 50%;

    display: grid;
    align-items: center;
    justify-content: center;
}

.todo-container:not(:first-child) {
    border-top: 1px solid black;
}
