* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr;

    align-items: center;
    justify-content: center;
}

.site-title {
    display: grid;
    text-decoration: underline;

    justify-content: center;
}

.content-container {
    width: 95vw;
    border: solid 1px grey;
}

.project-list-container {
    grid-template-rows: 1fr;
    grid-auto-flow: row;
}

.project-container {
    padding: 10px;
}


.project-container:nth-child(2n + 1) {
    background-color: whitesmoke;
}

.project-container:nth-child(2n) {
    background-color: lightgrey;
}

.project-info-container {
    grid-template-rows: 1fr;
    grid-auto-flow: row;
}

.todo-container {
    padding: 5px;
}