* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr;

    align-items: center;
    justify-content: center;
}

.site-title {
    display: grid;
    text-decoration: underline;

    justify-content: center;
}

.content-container {
    width: 95vw;
    border: solid 1px grey;
}
