* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr;

    align-items: center;
    justify-content: center;
}

.site-title {
    display: grid;
    text-decoration: underline;

    justify-content: center;
}

.content-container {
    width: 95vw;
    border: solid 1px grey;
}

.project-action-button {
    height: 40px;
    width: 40px;
    fill: white;
    border: none;
    border-radius: 4px;
}

.project-delete-button {
    background-color: crimson;
}

.project-edit-button {
    background-color: royalblue;
}
